// Base
$base-font-size: 14px;
$base-background-color: #fff;
$base-font-color: #666;
$base-font-family: Verdana, Arial, Helvetica, sans-serif;
$brand-color: red;
$brand-80-color: rgba($color-brand, 0.8);
$accent-color: yellow;

// Header
$header-background-color: #000;
$header-height: 100px;

// Footer
$footer-height: 200px;
$footer-background-color: #aaa;

// a
$a-color: #555;
$a-hover-color: #999;
$a-font-size: 14px;
$a-font-text-decoration: none;
$a-hover-text-decoration: none;
